/* make scrolling smooth */
html {
  scroll-behavior: smooth;
}

/* get rid of padding & sizing */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* add some padding back to rest of page */
main {
  padding: 2vw;
}

/* navbar */

.navbar {
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 1rem;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 1.2em;
}

.logo img {
  height: 4rem;
  width: 4rem;
}

/* navigation list */

nav li {
  list-style: none;
  display: block;
  padding: 0.5em 0;
}

/*  style all a tags in header */

header a {
  color: whitesmoke;
  background-color: #333;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

nav a:hover,
header a:focus {
  /* filter: invert(1); */
  background-color: #d4af37;
  color: #333;
  border-radius: 10px;
  outline: none;
}

/* toggle menu open & close */

.navbar-toggle {
  position: absolute;
  top: 3.6rem;
  right: 2rem;
  font-size: 2em;
}
.navbar-links {
  display: none;
}

.navbar-links.active {
  display: block;
}

/* toggle hamburger button open & close 
*/

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  opacity: 1;
  transform: translateY(0) rotate(0);
  transform-origin: center;
  transition: all 200ms ease;
}

.toggle-button.active .bar1 {
  transform: translateY(200%) rotate(45deg);
}
.toggle-button.active .bar2 {
  opacity: 0;
}
.toggle-button.active .bar3 {
  transform: translateY(-200%) rotate(-45deg);
}

/* 
media query for non-mobile nav bar

min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 60rem) {
  /* turn off toggle button */
  .toggle-button {
    display: none;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
  }

  /* change flex direction to row */
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  /* give ul room for link text */
  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
}
