/* make scrolling smooth */
html {
  scroll-behavior: smooth;
}

/* get rid of padding & sizing */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* add some padding back to rest of page */
main {
  padding: 2vw;
}

/* navbar */

.navbar {
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 1rem;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
}

.logo-title {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.logo h1 {
  font-size: 1.2em;
  padding: 0;
  line-height: 0.8;
}

.logo h2 {
  font-size: 0.8em;
  padding: 0;
}

.logo img {
  height: 4rem;
  width: 4rem;
}

/* navigation list */

nav li {
  list-style: none;
  display: block;
  padding: 0.5em 0;
}

/*  style all a tags in header */

header a {
  color: whitesmoke;
  background-color: #333;
  padding: 1rem 1.25rem;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

nav a:hover,
header a:focus {
  /* filter: invert(1); */
  background-color: #d4af37;
  color: #333;
  border-radius: 10px;
  outline: none;
}

/* toggle menu open & close */

.navbar-toggle {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
}
.navbar-links {
  display: none;
  border-top: none;
}

.navbar-links.active {
  display: block;
  border-top: 1px solid whitesmoke;
  margin-top: 2rem;
}

.symbol-toggle {
  font-size: 1.5rem;
}

/* 
media query for non-mobile nav bar

min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 70rem) {
  /* turn off toggle button */
  .navbar-toggle {
    display: none;
  }

  .navbar-links {
    display: flex;
    justify-content: space-between;
    border-top: none;
  }

  .navbar-links.active {
    display: block;
    border-top: none;
  }

  header a {
    font-size: 1.2rem;
  }

  /* change flex direction to row */
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  /* give ul room for link text */
  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
}
