* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(138, 138, 138);
  margin: auto;
  padding: 2vw;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

.hero-img {
  height: auto;
  align-self: center;
}

main {
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section {
  width: 100%;
  padding: 2rem;
  margin: 1rem 2vw;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4 {
  padding: 1em 0;
}

p {
  padding: 1em 0;
}

ul li {
  list-style: none;
  padding: 1rem;
}

footer {
  text-align: center;
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
}

.hero h2 {
  text-align: center;
  font-size: 1.2em;
}

.logo-span {
  text-transform: uppercase;
  font-size: 1.1em;
}

.logo-img {
  margin-right: 1em;
}

/* 
form styling 

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form
*/

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
