* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(138, 138, 138);
  margin: auto;
  padding: 2vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

img {
  max-width: 100%;
}

.hero-img {
  width: min(90%, 400px);
  height: auto;
  align-self: center;
}

main {
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section {
  width: 100%;
  padding: 2rem;
  margin: 1rem 2vw;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4 {
  padding: 1em 0;
  font-family: Oswald;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 0.8em;
  padding: 1rem;
}

p {
  padding: 1em 0;
  max-width: 70ch;
  margin: auto;
}

ul li {
  list-style: none;
  padding: 1rem;
  max-width: 70ch;
  margin: auto;
}

footer {
  text-align: center;
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
}

.hero h2 {
  text-align: center;
  font-size: 1.8em;
}

.logo-span {
  text-transform: uppercase;
  font-size: 1.1em;
}

.logo-img {
  margin-right: 1em;
}

/* testimonials */

.testimonials {
  font-style: italic;
}

/* 
https://www.steckinsights.com/shorten-length-border-bottom-pure-css/ 
*/

.testimonials li:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  border-bottom: 5px solid #333;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* 
form styling 

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_contact_form
*/

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #d4af37;
  color: #333;
  font-size: 1.25em;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #a5892b;
  color: rgb(238, 238, 238);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@media screen and (min-width: 75rem) {
  .hero h2 {
    font-size: 2.2em;
  }
}
